@model List<WebIndexHotel.Models.RoomType>

@{
    ViewBag.Title = "訂房搜尋";

}


<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>房型</h2>
                    <div class="bt-option">
                        @Html.ActionLink("首頁", "Index", "Home")
                        <span>搜尋結果</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Rooms Section Begin -->
<section class="rooms-section spad">
    <div class="container">
        <div class="row">
           
            @if (Model.Count() != 0)
            {

                foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="room-item">
                            <img src="~/img/room/room-2.jpg" alt="">
                            <div class="ri-text">
                                <h4>@item.RoomTypeNameCN </h4>
                                <h3> @item.UnitPrice_Normal.ToString("c0")<span>/Pernight</span></h3>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Size:</td>
                                            <td>30 ft</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Capacity:</td>
                                            <td>Max persion @item.RoomGuests</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>King Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="/Home/各房型/?name=@item.RoomTypeNameCN" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <h2>本日無空房</h2>
            }

        </div>
    </div>
</section>




<!-- Rooms Section End -->