@model WebIndexHotel.Models.IndexViewModel
@{
    ViewBag.Title = "會員管理";
}


        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>會員</h2>
                    <div class="bt-option">
                        @Html.ActionLink("首頁", "Index", "Home")
                        <span>會員</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-lg-12">
                <div class="service-item">

                    @if (Model.HasPassword)
                    {
                        <a href="/Manage/ChangePassword"><i class="flaticon-040-key-card"></i></a><h4>變更密碼</h4>

                    }
                    else
                    {
                        <a href="/Manage/SetPassword"><i class="flaticon-040-key-card"></i></a><h4>設置密碼</h4>

                    }

                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <a href="/Manage/EditUserInfo"><i class="flaticon-048-door-handle"></i></a><h4>修改會員資料</h4>
                </div>
            </div>
            <div class="col-lg-4 ">
                <div class="service-item">
                    <a href="/Manage/Personorder"><i class="flaticon-026-bed"></i></a>

                    <h4>訂單資訊</h4>

                </div>
            </div>
            <div class="col-lg-4 ">
                <div class="service-item">
                    <i class="flaticon-035-eight-ball"></i>
                    <h4>通知</h4>

                </div>
            </div>
            </div>








}