@using Microsoft.AspNet.Identity

@section styles{
    <style>
        #calendar {
            max-width: 850px;
            margin: 40px auto;
        }
    </style>

}

            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>訂單資訊</h2>
                        <div class="bt-option">
                            @Html.ActionLink("會員", "Index", "Manage")
                            <span>訂單</span>
                        </div>
                    </div>
                </div>
            </div>
    
<div id="calendar"></div>
@section scripts{
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid'],
                timeZone: 'UTC',
                defaultView: 'dayGridMonth',
                businessHours: true,
                events: 'https://localhost:44389/Manage/Person?Email=@User.Identity.GetUserName()'
                   

                 
            });

            calendar.render();
        });
    </script>

}