

@{
    ViewBag.Title = "最新優惠";
}


<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>最新資訊</h2>
                    <div class="bt-option">
                        @Html.ActionLink("首頁", "Index", "Home")
                        <span>最新資訊</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog-section blog-page spad">
    <div class="container">
        <div class="row">


            <div class="col-lg-4 col-md-6">
                <div class="blog-item set-bg" data-setbg="/img/News/blog-1.jpg">
                    <div class="bi-text">
                        <span class="b-tag">Travel Trip</span>
                        <h4><a href="./blog-details.html">Tremblant In Canada</a></h4>
                        <div class="b-time"><i class="icon_clock_alt"></i> 15th April, 2019</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>